* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background-color: #fff;
    display: flex;
    justify-content: center;
    min-height: 100vh;
    margin: 0;
}

.container {
    position: relative;
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 2fr;
    box-shadow: 0 35px 55px rgba(0,0,0,0.1);
}

.container .sidebar {
    position: relative;
    background-color: #333;
    padding: 40px;
    height: 100%;
    color: #fff;
    border-bottom-right-radius: 30px;
    border-top-right-radius: 50px;
    box-shadow: 2px 2px 20px 5px rgba(12, 12, 12, 0.5);
    font-weight: 600;
    line-height: 1.4em;
}

.container .right-side {
    position: relative;
    background-color: #fbfeff;
    height: 100%;
    padding: 40px
}

.profile-image {
    width: 300px;
    max-height: 300px;
    border-radius: 50%;
    object-fit: fill;
    margin: 0 auto 10px;
    overflow: hidden;
}

.sidebar p{
    text-align: center;
    color: #fff;
}

.contact-info {
    padding-top: 40px;
}

.title {
    color: #fff;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 1px;
    margin-bottom: 20px;
}

.email-link {
    color: rgb(80, 78, 231);
    text-decoration: none;
}

.website-link {
    color: #2ecc71;
    text-decoration: none;
}

.linkedin-link {
    color: #a0b1b9;
    text-decoration: none;
}


.phone-link {
    color: #e67e22;
    text-decoration: none;
}


.contact-info ul {
    position: relative;
}

.contact-info ul li {
    position: relative;
    list-style: none;
    margin: 10px 0;
    cursor: pointer;
}

.contact-info ul li .icon {
    display: inline-block;
    width: 30px;
    font-size: 18px;
    color: #03a9f4;
}

.contact-info ul li span {
    color: #fff;
    font-weight: 300;
}

.contact-info.education li {
    margin-bottom: 15px;
}

.contact-info.education h5 {
    color: #03a9f4;
    font-weight: 500;
}

.contact-info.education h4 {
    color: #fff;
    font-weight: 500;
}

.contact-info.education h4:nth-child(2){
    color: #fff;
    font-weight: 500;
}

.contact-info.language .percent{
    position: relative;
    width: 100%;
    height: 6px;
    background: #fff;
    display: block;
    margin-top: 5px;
}

.contact-info.language .percent div{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    background: #fd0485;
}

.socials ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
}

.socials li {
    margin-right: 15px;
}

.socials ion-icon {
    font-size: 1.5em; 
    cursor: pointer;
}

.title1 {
    color: #fff;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 1px;
    margin-bottom: 20px;
}

.right-side {
    padding: 10px 20px;
    height: auto;
    box-sizing: border-box;
}

.about {
    margin-bottom: 50px;
}
.about:last-child {
    margin-bottom: 0;
}
.title2 {
    color: #fd0485;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin-bottom: 10px;
}
p {
    color: #333;
}
.about .box {
    display: flex;
    flex-direction: row;
    margin: 20px 0;
}
.about .box .year_company {
    min-width: 150px;
}
.about .box .year_company h5 {
    text-transform: uppercase;
    color: #848c90;
    font-weight: 600;
}
.about .box .text h4 {
    text-transform: uppercase;
    color: #2a7da2;
    font-size: 16px;
}

@keyframes fillWidth {
    from { width: 0; }
}

.percent div {
    background-color: #fd0485;
    animation: fillWidth 1s ease-out forwards;
}

.skills .box {
    position: relative;
    width: 100%;
    display: grid;
    grid-template-columns: 150px 1fr;
    justify-content: center;
    align-items: center;
}
.skills .box h4 {
    text-transform: uppercase;
    color: #848c99;
    font-weight: 500;
}
.skills .box .percent {
    position: relative;
    width: 100%;
    height: 10px;
    background: #848c99;
}
.skills .box .percent div {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    background: #03a9f4;
}
.interest ul {
    display: grid;
    grid-template-columns: repeat(4,1fr); 
}
.interest ul li {
    list-style: none;
    color: #333;
    font-weight: 500;
    margin: 10px 0;
}
.interest ul li .icon {
    color: #03a9f4;
    font-size: 18px;
    width: 20px;
}

@media (max-width: 1000px) {
    .container {
        margin: 10px;
        grid-template-columns: repeat(1,1fr);
    }
    .interest ul {
        grid-template-columns: repeat(2,1fr);
    }
}

@media (max-width: 1000px) {
    .about .box {
        flex-direction: column;
    }
    .about .box .year_company {
        min-width: 150px;
        margin-bottom: 5px;
    }
    .interest ul {
        grid-template-columns: repeat(1,1fr);
    }
    .skills .box {
        
        grid-template-columns: repeat(1,1fr);
    }
}
